<div class="row">
  <div class="col-md-5">
    <div class="card" style="height: 350px;">
      <div class="card-block">
        <h5>Parametri za formiranje izveštaja</h5>
        <div class="form-group">
          <label>{{'public_buildings.cusum.municipality' | translate}}</label>
          <ng2-completer *ngIf="isOpstineLoaded" class="form-control" id="opstina"
                         (selected)="onOpstinaSelected($event)" [(ngModel)]="selectedOpstina"
                         [dataService]="dataServiceOpstine" [minSearchLength]="0"></ng2-completer>
        </div>
        <div class="form-group">
          <label>{{'public_buildings.cusum.place' | translate}}</label>
          <ng2-completer [disableInput]="!isMestaLoaded" class="form-control" id="mesto" (selected)="onMestoSelected($event)"
                         [(ngModel)]="selectedMesto" [dataService]="dataServiceMesta"
                         [minSearchLength]="0"></ng2-completer>
        </div>
        <div class="form-group">
          <label for="vodozahvatGrupa">Grupa</label>
          <select *ngIf="isVodozahvatGrupaLoaded" class="form-control" id="vodozahvatGrupa"  [(ngModel)]="vodozahvatGrupaId"
                  (ngModelChange)="onVodozahvatGrupaSelected($event); izvrsiSelectionTool()">
            <!--<option [ngValue]=null></option>-->
            <option *ngFor="let item of vodozahvatGrupaSve" [ngValue]= "item.id">{{item.naziv}}</option>
          </select>
        </div>
        <h5>{{tekst1}}</h5>
        <div class="form-group">
          <ss-multiselect-dropdown *ngIf="isVodozahvatLoaded" [options]="vodozahvati" [texts]="vodozahvatTexts"
                                   [settings]="vodozahvatSettings" [(ngModel)]="vodozahvatIzbor"
                                   (ngModelChange)="izvrsiPrenosVodozahvat();  izvrsiSelectionTool()"></ss-multiselect-dropdown>
        </div>

      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="card" style="overflow-y: scroll;
            height: 350px;">

      <div class="card-block">
        <h5>{{tekst2}}</h5>

        <table class="table table-striped">
          <thead>
          <tr>
            <th></th>
            <th></th>
            <th>
              <button type="button" class="btn btn-primary pull-right"  (click)="obrisiVodozahvatKrajnjiIzborSve(); izvrsiSelectionTool()">{{'public_buildings.cusum.clearall' | translate}}</button>
            </th>
          </tr>
          <tr>
            <th class="table-id">#</th>
            <th>{{tekst1}}</th>
            <th>{{tekst3}}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of vodozahvatKrajnjiIzborPrikaz">
            <!--<td class="table-id">{{ item.id }}</td>-->
            <td></td>
            <td>{{ item.name }}</td>
            <td>
              <button type="button" class="btn btn-primary  pull-right" (click)="obrisiVodozahvatKrajnjiIzbor(item.id); izvrsiSelectionTool()">*</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



