<div class="panel-body">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-block">
          <h4>Parametri za formiranje izveštaja</h4>
        </div>
        <div class="card-block">

          <vodozahvat-selection-tool (onIzvrsiSelectionTool)="upisiVodozahvate($event)"></vodozahvat-selection-tool>

          <month-year-picker></month-year-picker>

          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-block">
                  <button type="button" class="btn btn-primary pull-right"  (click)="formirajIzvestaj()">Formiraj izveštaj</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div *ngIf="podaci" class="card">
        <div class="card-block">
          <div  class="panel-body">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="text-center">Vodozahvat</th>
                  <th class="text-center">Potrošnja <br> (kWh)</th>
                  <th class="text-center">Emisija CO2 <br> (kg)</th>
                  <th class="text-center">Iznos <br> (din.)</th>
                  <th *ngIf = 'vodozahvatGrupaId == 1' class="text-center">Proizvodnja <br> (m3)</th>
                  <th *ngIf = 'vodozahvatGrupaId == 1' class="text-center">Specifična <br> proizvodnja <br>(kWh/m3)</th>
                  <th *ngIf = 'vodozahvatGrupaId == 1' class="text-center">Specifična <br> proizvodnja <br>(CO2/m3)</th>
                  <th *ngIf = 'vodozahvatGrupaId == 1' class="text-center">Specifična <br> proizvodnja <br>(din/m3)</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of podaci">
                  <td class="align-center">{{ item.vodozahvat }}</td>
                  <td class="align-right">{{ item.potrosnja }}</td>
                  <td class="align-right">{{ item.emisija }}</td>
                  <td class="align-right">{{ item.iznos }}</td>
                  <td *ngIf = 'vodozahvatGrupaId == 1' class="align-right">{{ item.proizvodnja }}</td>
                  <td *ngIf = 'vodozahvatGrupaId == 1' class="align-right">{{ item.specProizvodnjaKwh }}</td>
                  <td *ngIf = 'vodozahvatGrupaId == 1' class="align-right">{{ item.specProizvodnjaCo2 }}</td>
                  <td *ngIf = 'vodozahvatGrupaId == 1' class="align-right">{{ item.specProizvodnjaDin }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
