<div class="panel panel-primary">
  <div class="panel-heading">{{'public_buildings.cusum.parametersrep' | translate}}</div>
  <div class="panel-body">

    <div class="form-group">
      <ss-multiselect-dropdown *ngIf="isObjekatLoaded && myOptions" [options]="myOptions" [texts]="myTexts" [settings]="mySettings" [(ngModel)]="optionsModel" (ngModelChange)="onChangeObjekat($event)"></ss-multiselect-dropdown>
    </div>
    <div class="form-group">
      <ss-multiselect-dropdown *ngIf="isEneTipLoaded && myOptions" [options]="eneTipData" [texts]="myTextsTipEne" [settings]="mySettingsTipEne" [(ngModel)]="eneTipIzbor" (ngModelChange)="onChangeEneTip($event)"></ss-multiselect-dropdown>
    </div>

    <month-year-picker></month-year-picker>

    <!--<div class="form-group">-->
    <!--<label class="col-md-1">Mesec od</label>-->
    <!--<month-picker-od  (change)="onMonthChangeOd($event.target.value)"> </month-picker-od>-->
    <!--</div>-->
    <!--<div class="form-group">-->
    <!--<label class="col-md-1">Godina od</label>-->
    <!--<year-picker (change)="onYearChangeOd($event.target.value)"></year-picker>-->
    <!--</div>-->
    <!--<div class="form-group">-->
    <!--<label class="col-md-1">Mesec do</label>-->
    <!--<month-picker (change)="onMonthChangeDo($event.target.value)"> </month-picker>-->
    <!--</div>-->
    <!--<div class="form-group">-->
    <!--<label class="col-md-1">Godina do</label>-->
    <!--<year-picker (change)="onYearChangeDo($event.target.value)"></year-picker>-->
    <!--</div>-->

    <!--<div class="col-md-4">-->
    <!--<div>-->
    <!--<label>Datum od</label>-->
    <!--<br>-->
    <!--<my-date-picker id="datum_od"  class="form-control" [selDate]="datumOd" [options]="myDatePickerOptions"-->
    <!--(dateChanged)="onDatumOdChanged($event)"></my-date-picker>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-4">-->
    <!--<div>-->
    <!--<label>Datum do</label>-->
    <!--<br>-->
    <!--<my-date-picker id="datum_do" class="form-control" [selDate]="datumDo" [options]="myDatePickerOptions"-->
    <!--(dateChanged)="onDatumDoChanged($event)"></my-date-picker>-->
    <!--</div>-->
    <!--</div>-->
    <br>
    <br>
    <div class="col-md-1">
      <button type="button" class="btn btn-primary" (click)="onSubmit()">Formiraj izveštaj</button>
    </div>
    <div class="col-md-9">
    </div>
    <div class="col-md-1">
      <button type="button" class="btn btn-primary" (click)="convert()">Izvoz PDF</button>
    </div>

  </div>


  <div class="panel-body">
    <table id="testTable" class="table table-bordered">
      <thead>
      <tr>
        <th class="align-center">Energent</th>
        <th class="align-center">Količina</th>
        <th class="align-center">Količina u Kwh</th>
        <th class="align-center">Emisija CO2</th>
        <th class="align-center">Iznos</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of podaci">
        <td class="align-center">{{ item.energent }}</td>
        <td class="align-right">{{ item.kolicina }}</td>
        <td class="align-right">{{ item.kolicinaKwh }}</td>
        <td class="align-right">{{ item.emisijaCo2 }}</td>
        <td class="align-right">{{ item.iznos }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<button type="button" class="btn btn-primary" (click)="htmlTableToExcel('testTable')" value="Export to Excel">Formiraj excel</button>
<a (click)="htmlTableToExcel('testTable')">Open in Excel</a>
