<div class="container">
  <p>omoguciti pretragu kotlarnica po opstini, mestu, distributeru</p>
  <tabset [justified]="true">
    <tab heading="Kotlarnica opsti podaci">
      <ba-card title="Podaci o objektu" baCardClass="with-scroll">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="naziv">Naziv</label>
              <input type="text" class="form-control" id="naziv"  >
            </div>
            <div class="form-group">
              <label for="adresa">Adresa</label>
              <input type="text" class="form-control" id="adresa"  >
            </div>

            <div class="form-group">
              <label>Mesto</label>
              <input type="text" class="form-control" id="mesto"  >
            </div>

          </div>
          <div class="col-sm-6">

            <div class="form-group">
              <label for="lon">Longitude</label>
              <input type="text" class="form-control" id="lon"  >
            </div>
            <div class="form-group">
              <label for="lat">Latitude</label>
              <input type="text" class="form-control" id="lat"  >
            </div>
          </div>
        </div>
      </ba-card>
    </tab>
    <tab heading="Računi">
      <p>ovde se unose racuni za kotlarnicu: mazut, gas, struja...</p>
      <ba-card title="Unos računa za kotlarnicu" baCardClass="with-scroll">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="naziv">Naziv</label>
              <input type="text" class="form-control" id="naziv"  >
            </div>
            <div class="form-group">
              <label for="adresa">Adresa</label>
              <input type="text" class="form-control" id="adresa"  >
            </div>

            <div class="form-group">
              <label>Mesto</label>
              <input type="text" class="form-control" id="mesto"  >
            </div>

          </div>
          <div class="col-sm-6">

            <div class="form-group">
              <label for="lon">Longitude</label>
              <input type="text" class="form-control" id="lon"  >
            </div>
            <div class="form-group">
              <label for="lat">Latitude</label>
              <input type="text" class="form-control" id="lat"  >
            </div>
          </div>
        </div>
      </ba-card>
    </tab>
    <tab heading="Podstanice">
      <p>ovde je potrebno omoguciti CRUD za podstanice koje su prikljucene na ovu kotlarnicu</p>
      <ba-card title="Pripadajuće podstanice" baCardClass="with-scroll">



        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="naziv">Naziv</label>
              <input type="text" class="form-control" id="naziv"  >
            </div>
            <div class="form-group">
              <label for="adresa">Adresa</label>
              <input type="text" class="form-control" id="adresa"  >
            </div>

            <div class="form-group">
              <label>Mesto</label>
              <input type="text" class="form-control" id="mesto"  >
            </div>

          </div>
          <div class="col-sm-6">

            <div class="form-group">
              <label for="lon">Longitude</label>
              <input type="text" class="form-control" id="lon"  >
            </div>
            <div class="form-group">
              <label for="lat">Latitude</label>
              <input type="text" class="form-control" id="lat"  >
            </div>
          </div>
        </div>
      </ba-card>
    </tab>
  </tabset>
</div>
