<div class="container">
  <div *ngIf="!izbor" class="row" >
    <ba-card title="" baCardClass="with-scroll">
      <ng2-smart-table [settings]="settings" [source]="source" (delete)="onDelete($event)" (edit)="onEdit($event.data.id)" (create)="onCreate()"></ng2-smart-table>
    </ba-card>
  </div>
</div>

<!--<div *ngIf="!izbor" class="form-group">-->
  <!--<div class="checkbox">-->
    <!--<ba-checkbox [(ngModel)]="mapaUkljucena" [label]="'Ukljucena mapa'" [ngModelOptions]="{standalone: true}"></ba-checkbox>-->
  <!--</div>-->
<!--</div>-->

<!--<ng2-map *ngIf="mapaUkljucena && !izbor" zoom="15" center="Vrbas, Serbia">-->
  <!--<marker *ngFor="let item of objekti"-->
          <!--[position]="[item.lat, item.lon]"-->
          <!--icon="http://maps.google.com/mapfiles/kml/shapes/ranger_station.png"-->
          <!--[label]="item.naziv"-->
          <!--(click)="prikazi_formu($event, item.id)"-->
  <!--&gt;-->
  <!--</marker>-->
  <!--&lt;!&ndash;(click)="prikazi_modal($event, item.id)"&ndash;&gt;-->
<!--</ng2-map>-->

<div *ngIf="izbor && loadedForm" class="container">
  <form [formGroup]="myForm" #f="ngForm" >
      <div class="form-group">
        <input hidden type="number" class="form-control" id="id" [(ngModel)]="objekat.id" formControlName="id">
      </div>
      <div class="form-group">
        <input hidden type="number" class="form-control" id="version" [(ngModel)]="objekat.version" formControlName="version">
      </div>
    <tabset [justified]="true">
      <tab heading="Objekat opsti podaci">
        <ba-card title="Podaci o objektu" baCardClass="with-scroll">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="naziv">Naziv</label>
                <input type="text" class="form-control" id="naziv"  required [(ngModel)]="objekat.naziv" formControlName="naziv">
              </div>
              <div class="form-group">
                <label for="adresa">Adresa</label>
                <input type="text" class="form-control" id="adresa"  required [(ngModel)]="objekat.adresa" formControlName="adresa">
              </div>
              <div class="form-group">
                <label>Opstina</label>
                <ng2-completer *ngIf="isOpstineLoaded" class="form-control" id="opstina" formControlName="opstina" (selected)="onOpstinaSelected($event)" [(ngModel)]="selectedOpstina" [placeholder]="objekat.mesto.opstina.naziv" [dataService]="dataService" [minSearchLength]="0"></ng2-completer>
              </div>
              <div class="form-group">
                <label>Mesto</label>
                <ng2-completer *ngIf="isObjekatLoaded" class="form-control" id="mesto" formControlName="mesto" (selected)="onMestoSelected($event)" [(ngModel)]="selectedMesto"  [placeholder]="objekat.mesto.naziv" [dataService]="dataServiceMesta" [minSearchLength]="0"></ng2-completer>
              </div>
              <div class="form-group">
                <label for="grupa">Grupa</label>
                <select *ngIf="isGrupeLoaded" class="form-control" id="grupa" formControlName="grupa" [(ngModel)]="grupaID" (ngModelChange)="onGrupaSelected($event)">
                  <option *ngFor="let item of grupe; let i = index" [ngValue]="item.id">{{item.naziv}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="podgrupa">Podgrupa</label>
                <select *ngIf="isPodgrupeLoaded" class="form-control" id="podgrupa" formControlName="podgrupa" [(ngModel)]="podgrupaID" (ngModelChange)="onPodgrupaSelected($event)">
                  <option *ngFor="let item of podgrupe; let i = index" [ngValue]="item.id">{{item.naziv}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="nacinFinansiranja">Nacin finansiranja</label>
                <select *ngIf="isNaciniFinansiranjaLoaded" class="form-control" id="nacinFinansiranja" formControlName="nacinFinansiranja" [(ngModel)]="objekat.nacinFinansiranja.id" (ngModelChange)="onNacinFinansiranjaSelected($event)">
                  <option *ngFor="let item of naciniFinansiranja; let i = index" [ngValue]="item.id">{{item.naziv}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <img [src]="sanitizer.bypassSecurityTrustUrl(slika)" class="form-control"/>
              </div>
              <div class="form-group">
                <file-upload [multiple]="false" [objekatId]="objekat.id" (onUpload)="onEdit(objekat.id)()"></file-upload>
              </div>
              <div class="form-group">
                  <label for="lon">Longitude</label>
                  <input type="text" class="form-control" id="lon"  required [(ngModel)]="objekat.lon" formControlName="lon">
              </div>
              <div class="form-group">
                <label for="lat">Latitude</label>
                <input type="text" class="form-control" id="lat"  required [(ngModel)]="objekat.lat" formControlName="lat">
              </div>
            </div>
          </div>
        </ba-card>
        <ba-card title="Izgradnja i rekonstrukcija objekta" baCardClass="with-scroll">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="godIzgr">Godina izgradnje objekta</label>
                <input type="text" class="form-control" id="godIzgr"  required [(ngModel)]="objekat.godIzgr" formControlName="godIzgr">
              </div>
              <div class="form-group">
                <label for="projektanFirma">Projektantska firma</label>
                <input type="text" class="form-control" id="projektanFirma"  required [(ngModel)]="objekat.projektanFirma" formControlName="projektanFirma">
              </div>
              <div class="form-group">
                <label for="izvodjacIzg">Izvodjac radova na izgradnji objekta</label>
                <input type="text" class="form-control" id="izvodjacIzg"  required [(ngModel)]="objekat.izvodjacIzg" formControlName="izvodjacIzg">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="godRekon">Godina rekonstrukcije objekta</label>
                <input type="text" class="form-control" id="godRekon"  required [(ngModel)]="objekat.godRekon" formControlName="godRekon">
              </div>
              <div class="form-group">
                <label for="izvodjacRekon">Izvodjac radova na rekonstrukciji objekta</label>
                <input type="text" class="form-control" id="izvodjacRekon"  required [(ngModel)]="objekat.izvodjacRekon" formControlName="izvodjacRekon">
              </div>
              <div class="form-group">
                <label for="tipRek">Tip rekonstrukcije</label>
                <input type="text" class="form-control" id="tipRek"  required [(ngModel)]="objekat.tipRek" formControlName="tipRek">
              </div>
            </div>
          </div>
        </ba-card>
        <ba-card title="Podaci o korisniku" baCardClass="with-scroll">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="koIme">Ime</label>
                <input type="text" class="form-control" id="koIme"  required [(ngModel)]="objekat.koIme" formControlName="koIme">
              </div>
              <div class="form-group">
                <label for="koPrezime">Prezime</label>
                <input type="text" class="form-control" id="koPrezime"  required [(ngModel)]="objekat.koPrezime" formControlName="koPrezime">
              </div>
              <div class="form-group">
                <label for="koZanimanje">Zanimanje</label>
                <input type="text" class="form-control" id="koZanimanje"  required [(ngModel)]="objekat.koZanimanje" formControlName="koZanimanje">
              </div>
              <div class="form-group">
                <label for="koTel">Telefon</label>
                <input type="text" class="form-control" id="koTel"  required [(ngModel)]="objekat.koTel" formControlName="koTel">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="koFaks">Faks</label>
                <input type="text" class="form-control" id="koFaks"  required [(ngModel)]="objekat.koFaks" formControlName="koFaks">
              </div>
              <div class="form-group">
                <label for="koMob">Mobilni</label>
                <input type="text" class="form-control" id="koMob"  required [(ngModel)]="objekat.koMob" formControlName="koMob">
              </div>
              <div class="form-group">
                <label for="koMail">Mail</label>
                <input type="text" class="form-control" id="koMail"  required [(ngModel)]="objekat.koMail" formControlName="koMail">
              </div>
            </div>
          </div>
        </ba-card>

        <div *ngIf="!prikaziRn && !prikaziBrojiloUnos" class="container-fluid">
          <button *ngIf="izbor && proveraUloga" type="button" class="btn btn-primary" (click)="onSubmit()">Sačuvaj</button>
          <button *ngIf="izbor" type="button" class="btn btn-primary" (click)="onCancel();">Odustani</button>
        </div>
      </tab>
      <tab heading="Energetski podaci">
        <ba-card title="Grejanje" baCardClass="with-scroll">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="grejOpis">Opis sistema grejanja</label>
                <textarea class="form-control" id="grejOpis"  required [(ngModel)]="objekat.grejOpis" formControlName="grejOpis"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                  <label for="grejUkSnaga">Ukupna snaga kotlova</label>
                  <input type="text" class="form-control" id="grejUkSnaga"  required [(ngModel)]="objekat.grejUkSnaga" formControlName="grejUkSnaga">
                </div>
                <div class="form-group">
                  <label for="grejUkSnagaTela">Ukupna snaga grejnih tela</label>
                  <input type="text" class="form-control" id="grejUkSnagaTela"  required [(ngModel)]="objekat.grejUkSnagaTela" formControlName="grejUkSnagaTela">
                </div>
                <div class="form-group">
                  <label for="elSnagaGrejalica">Ukupna snaga grejalica</label>
                  <input type="text" class="form-control" id="elSnagaGrejalica"  required [(ngModel)]="objekat.elSnagaGrejalica" formControlName="elSnagaGrejalica">
                </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="grejPoKorisna">Povrsina grejanog prostora</label>
                <input type="text" class="form-control" id="grejPoKorisna"  required [(ngModel)]="objekat.grejPoKorisna" formControlName="grejPoKorisna">
              </div>
              <div class="form-group">
                <label for="grejZa">Zapremina grejanog prostora</label>
                <input type="text" class="form-control" id="grejZa"  required [(ngModel)]="objekat.grejZa" formControlName="grejZa">
              </div>
            </div>
          </div>
        </ba-card>
        <ba-card title="Elektrika" baCardClass="with-scroll">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="elOpis">Opis sistema koji trose elektricnu energiju</label>
                <textarea class="form-control" id="elOpis"  required [(ngModel)]="objekat.elOpis" formControlName="elOpis"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="elSnagaPotrosaca">Ukupna insalisana snaga elektricnih uredjaja</label>
                <input type="text" class="form-control" id="elSnagaPotrosaca"  required [(ngModel)]="objekat.elSnagaPotrosaca" formControlName="elSnagaPotrosaca">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="elSnagaRasveta">Ukupna instalisana snaga sistema rasvete</label>
                <input type="text" class="form-control" id="elSnagaRasveta"  required [(ngModel)]="objekat.elSnagaRasveta" formControlName="elSnagaRasveta">
              </div>
            </div>
          </div>
        </ba-card>
        <ba-card title="Topla voda" baCardClass="with-scroll">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="toplOpis">Opis sistema za pripremu tople vode</label>
                <textarea class="form-control" id="toplOpis"  required [(ngModel)]="objekat.toplOpis" formControlName="toplOpis"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="toplTemp">Temperatura sanitarne tople vode</label>
                <input type="text" class="form-control" id="toplTemp"  required [(ngModel)]="objekat.toplTemp" formControlName="toplTemp">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="toplUkSnaga">Ukupna snaga sistema za pripremu tople vode</label>
                <input type="text" class="form-control" id="toplUkSnaga"  required [(ngModel)]="objekat.toplUkSnaga" formControlName="toplUkSnaga">
              </div>
            </div>
          </div>
        </ba-card>
        <ba-card title="Ventilacija" baCardClass="with-scroll">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="ventOpis">Opis sistema za ventilaciju</label>
                <textarea class="form-control" id="ventOpis"  required [(ngModel)]="objekat.ventOpis" formControlName="ventOpis"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="ventZa">Ukupna zapremina prostora koji se ventilira</label>
                <input type="text" class="form-control" id="ventZa"  required [(ngModel)]="objekat.ventZa" formControlName="ventZa">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="ventUkSnaga">Ukupna snaga sistema za ventilaciju</label>
                <input type="text" class="form-control" id="ventUkSnaga"  required [(ngModel)]="objekat.ventUkSnaga" formControlName="ventUkSnaga">
              </div>
            </div>
          </div>
        </ba-card>
        <ba-card title="Hladjenje" baCardClass="with-scroll">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="hlaOpis">Opis sistema hladjenja</label>
                <textarea class="form-control" id="hlaOpis"  required [(ngModel)]="objekat.hlaOpis" formControlName="hlaOpis"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="hlaPo">Hladjena povrsina objekta</label>
                <input type="text" class="form-control" id="hlaPo"  required [(ngModel)]="objekat.hlaPo" formControlName="hlaPo">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="hlaZa">Hladjena zapremina objekta</label>
                <input type="text" class="form-control" id="hlaZa"  required [(ngModel)]="objekat.hlaZa" formControlName="hlaZa">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="hlaUkSnaga">Ukupna snaga sistema za hladjenje</label>
                <input type="text" class="form-control" id="hlaUkSnaga"  required [(ngModel)]="objekat.hlaUkSnaga" formControlName="hlaUkSnaga">
              </div>
            </div>
          </div>
        </ba-card>
        <ba-card title="Voda" baCardClass="with-scroll">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="vodaOpis">Opis sistema za snabdevanje vodom</label>
                <textarea class="form-control" id="vodaOpis"  required [(ngModel)]="objekat.vodaOpis" formControlName="vodaOpis"></textarea>
              </div>
            </div>
          </div>
        </ba-card>

        <div *ngIf="!prikaziRn && !prikaziBrojiloUnos" class="container-fluid">
          <button *ngIf="izbor && proveraUloga" type="button" class="btn btn-primary" (click)="onSubmit()">Sačuvaj</button>
          <button *ngIf="izbor" type="button" class="btn btn-primary" (click)="onCancel();">Odustani</button>
        </div>
      </tab>
      <tab heading="Korišćenje objekta">
        <ba-card title="Način korišćenja objekta" baCardClass="with-scroll">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="opBrEtaza">Broj etaza</label>
                <input type="text" class="form-control" id="opBrEtaza"  required [(ngModel)]="objekat.opBrEtaza" formControlName="opBrEtaza">
              </div>
              <div class="form-group">
                <label for="opBrRdNed">Broj radnih dana u nedelji</label>
                <input type="text" class="form-control" id="opBrRdNed"  required [(ngModel)]="objekat.opBrRdNed" formControlName="opBrRdNed">
              </div>
              <div class="form-group">
                <label for="opBrRdGod">Broj radnih dana u godini</label>
                <input type="text" class="form-control" id="opBrRdGod"  required [(ngModel)]="objekat.opBrRdGod" formControlName="opBrRdGod">
              </div>
              <div class="form-group">
                <label for="opPbrRsDan">Broj radnih sati na dan</label>
                <input type="text" class="form-control" id="opPbrRsDan"  required [(ngModel)]="objekat.opPbrRsDan" formControlName="opPbrRsDan">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="opBrNrdZima">Broj zimskih neradnih dana</label>
                <input type="text" class="form-control" id="opBrNrdZima"  required [(ngModel)]="objekat.opBrNrdZima" formControlName="opBrNrdZima">
              </div>
              <div class="form-group">
                <label for="opBrNrdLeto">Broj letnjih neradnih dana</label>
                <input type="text" class="form-control" id="opBrNrdLeto"  required [(ngModel)]="objekat.opBrNrdLeto" formControlName="opBrNrdLeto">
              </div>
              <div class="form-group">
                <label for="opBrStalnoZap">Broj stalno zaposlenih korisnika</label>
                <input type="text" class="form-control" id="opBrStalnoZap"  required [(ngModel)]="objekat.opBrStalnoZap" formControlName="opBrStalnoZap">
              </div>
              <div class="form-group">
                <label for="opBrKor">Ukupan broj korisnika</label>
                <input type="text" class="form-control" id="opBrKor"  required [(ngModel)]="objekat.opBrKor" formControlName="opBrKor">
              </div>
            </div>
          </div>
        </ba-card>

        <div *ngIf="!prikaziRn && !prikaziBrojiloUnos" class="container-fluid">
          <button *ngIf="izbor && proveraUloga" type="button" class="btn btn-primary" (click)="onSubmit()">Sačuvaj</button>
          <button *ngIf="izbor" type="button" class="btn btn-primary" (click)="onCancel();">Odustani</button>
        </div>
      </tab>

      <tab *ngIf="objekat && objekat.id" heading="Preduzete mere">
        <isem-objekat-mere [objekat]="objekat"></isem-objekat-mere>
      </tab>

      <!--<tab *ngIf="objekat && objekat.id" heading="Brojila" (select)="getDataBrojila()">-->
        <!--<div *ngIf="!prikaziBrojiloUnos" class="row">-->
          <!--<ba-card title="Brojila" baCardClass="with-scroll">-->
            <!--<ng2-smart-table [settings]="settings_brojila" [source]="sourceBrojila" (delete)="onDeleteBrojilo($event)" (edit)="onEditBrojilo($event)" (create)="onCreateBrojilo()"></ng2-smart-table>-->
          <!--</ba-card>-->
        <!--</div>-->
        <!--<div *ngIf="prikaziBrojiloUnos" class="row">-->
          <!--<form  [formGroup]="myFormBrojilo" #f="ngForm" >-->
            <!--<div class="form-group">-->
              <!--<input hidden type="number" class="form-control" id="idB" [(ngModel)]="brojilo.id" formControlName="id">-->
            <!--</div>-->
            <!--<div class="form-group">-->
              <!--<input hidden type="number" class="form-control" id="versionB" [(ngModel)]="brojilo.version" formControlName="version">-->
            <!--</div>-->
            <!--<div class="form-group">-->
              <!--<label for="nazivB">Naziv brojila</label>-->
              <!--<input type="text" class="form-control" id="nazivB" formControlName="naziv" [(ngModel)]="brojilo.naziv" >-->
            <!--</div>-->
            <!--<div class="form-group">-->
              <!--<label for="opisB">Opis</label>-->
              <!--<input type="text" class="form-control" id="opisB" formControlName="opis" [(ngModel)]="brojilo.opis" >-->
            <!--</div>-->
            <!--<div class="form-group">-->
              <!--<label for="vrstaB">Vrsta brojila</label>-->
              <!--<select *ngIf="isBrojiloVrstaLoaded" class="form-control" id="vrstaB" formControlName="brojiloVrsta" [(ngModel)]="brojiloVrstaId">-->
                <!--<option *ngFor="let item of brojiloVrstaSve" [ngValue]= "item.id">{{item.naziv}}</option>-->
              <!--</select>-->
            <!--</div>-->
            <!--<div class="form-group">-->
              <!--<label for="tipB">Tip brojila</label>-->
              <!--<select *ngIf="isBrojiloTipLoaded" class="form-control" id="tipB" formControlName="brojiloTip" [(ngModel)]="brojiloTipId" (ngModelChange)="onBrojiloTipSelected($event)">-->
                <!--<option *ngFor="let item of brojiloTipSve" [ngValue]= "item.id">{{item.naziv}}</option>-->
              <!--</select>-->
            <!--</div>-->

            <!--<div *ngIf="brojiloTipId==3" class="card">-->
              <!--<div class="card-block">-->
                  <!--<div *ngIf="!brojiloVodeceId" class="card">-->
                    <!--<selection-tool-one  class="col-md-6" (onIzvrsiSelectionTool)="getDataBrojiloVodece($event)"></selection-tool-one>-->
                    <!--<div class="col-md-6">-->
                      <!--<div class="card">-->
                        <!--<div class="card-block">-->
                          <!--<div class="form-group">-->
                            <!--<label for="brojiloVodece">Vodeće brojilo</label>-->
                            <!--<select *ngIf="isBrojiloVodeceLoaded" class="form-control" id="brojiloVodece" formControlName="vodeceBrojilo" [(ngModel)]="brojiloVodeceId">-->
                            <!--<option *ngFor="let item of brojiloVodeceSve" [ngValue]= "item.id">{{item.naziv}}</option>-->
                            <!--</select>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div *ngIf="brojiloVodeceId">-->
                    <!--<div class="form-group">-->
                      <!--<label for="brojiloVodece">Vodeće brojilo</label>-->
                      <!--<select *ngIf="isBrojiloVodeceLoaded" class="form-control" id="brojiloVodece" formControlName="vodeceBrojilo" [(ngModel)]="brojiloVodeceId">-->
                        <!--<option *ngFor="let item of brojiloVodeceSve" [ngValue]= "item.id">{{item.naziv}}</option>-->
                      <!--</select>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                      <!--<label for="procenat">Procenat</label>-->
                      <!--<input type="text" class="form-control" id="procenat" formControlName="procenat" [(ngModel)]="brojilo.procenat" >-->
                    <!--</div>-->
                  <!--</div>-->

              <!--</div>-->
            <!--</div>-->

            <!--<div class="form-group">-->
              <!--<label for="rezimB">Režim merenja</label>-->
              <!--<select *ngIf="isRezimMerenjaLoaded" class="form-control" id="rezimB" formControlName="rezimMerenja" [(ngModel)]="rezimMerenjaId">-->
                <!--<option [ngValue]=null></option>-->
                <!--<option *ngFor="let item of rezimMerenjaSve" [ngValue]= "item.id">{{item.naziv}}</option>-->
              <!--</select>-->
            <!--</div>-->
            <!--<div class="form-group">-->
              <!--<label for="obracunskiPeriod">Obračunski period</label>-->
              <!--<input type="text" class="form-control" id="obracunskiPeriod" formControlName="obracunskiPeriod" [(ngModel)]="brojilo.obracunskiPeriod" >-->
            <!--</div>-->
            <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
              <!--&lt;!&ndash;<label for="automatski">Automatski</label>&ndash;&gt;-->
              <!--&lt;!&ndash;<input type="text" class="form-control" id="automatski" formControlName="automatski" [(ngModel)]="brojilo.automatski" >&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->


            <!--<div class="container-fluid">-->
              <!--<button *ngIf="proveraUloga" type="button" class="btn btn-primary" (click)="onSubmitBrojilo()">Sačuvaj</button>-->
              <!--<button type="button" class="btn btn-primary" (click)="onCancelBrojilo()">Odustani</button>-->
            <!--</div>-->
          <!--</form>-->
        <!--</div>-->
      <!--</tab>-->

      <tab *ngIf="objekat && objekat.id" heading="Brojila">
        <isem-brojilo [objekat]="objekat"></isem-brojilo>
      </tab>

      <tab *ngIf="objekat && objekat.id" heading="Pregled računa" (select)="onTabRacuniSelect()">
        <isem-pregled-racuna [objekatId]="objekat.id"></isem-pregled-racuna>
      </tab>

      <tab heading="Lokacija objekta">
        <ng2-map *ngIf="izbor && loadedForm" zoom="15" center="Vrbas, Serbia">
          <marker *ngIf="objekat.lat && objekat.lon" [position]="[objekat.lat, objekat.lon]"></marker>
          <marker *ngIf="!objekat.lat || !objekat.lon" [position]="['45.57139', '19.64083']"></marker>
        </ng2-map>
        <div *ngIf="!prikaziRn && !prikaziBrojiloUnos" class="container-fluid">
          <button *ngIf="izbor && proveraUloga" type="button" class="btn btn-primary" (click)="onSubmit()">Sačuvaj</button>
          <button *ngIf="izbor" type="button" class="btn btn-primary" (click)="onCancel();">Odustani</button>
        </div>
      </tab>


      <!--<tab heading="Long Justified">Long Labeled Justified content</tab>-->
    </tabset>

  </form>
</div>

<!--{{objekat | json }}-->

<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Brisanje Objekta</h4>
      </div>
      <div class="modal-body">
        Da li zelite da obrisete objekat?
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary confirm-btn" (click)="brisiKorisnika()">Da</button>
        <button class="btn btn-primary confirm-btn" (click)="hideChildModal()">Ne</button>
      </div>
    </div>
  </div>
</div>


<!--<div bsModal #childModalRn="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">-->
  <!--<div class="modal-dialog modal-sm">-->
    <!--<div class="modal-content">-->
      <!--<div class="modal-header">-->
        <!--<button class="close" aria-label="Close" (click)="hideChildModalRn()">-->
          <!--<span aria-hidden="true">&times;</span>-->
        <!--</button>-->
        <!--<h4 class="modal-title">Brisanje računa</h4>-->
      <!--</div>-->
      <!--<div class="modal-body">-->
        <!--Da li ste sigurni da želite da obrišete račun?-->
      <!--</div>-->
      <!--<div class="modal-footer">-->
        <!--<button class="btn btn-primary confirm-btn" (click)="onDeleteConfirmRacuni()">Da</button>-->
        <!--<button class="btn btn-primary confirm-btn" (click)="hideChildModalRn()">Ne</button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<div bsModal #childModalBrojilo="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">-->
  <!--<div class="modal-dialog modal-sm">-->
    <!--<div class="modal-content">-->
      <!--<div class="modal-header">-->
        <!--<button class="close" aria-label="Close" (click)="hideChildModalBrojilo()">-->
          <!--<span aria-hidden="true">&times;</span>-->
        <!--</button>-->
        <!--<h4 class="modal-title">Brisanje brojila</h4>-->
      <!--</div>-->
      <!--<div class="modal-body">-->
        <!--Da li ste sigurni da želite da obrišete brojilo?-->
      <!--</div>-->
      <!--<div class="modal-footer">-->
        <!--<button class="btn btn-primary confirm-btn" (click)="onDeleteConfirmBrojilo()">Da</button>-->
        <!--<button class="btn btn-primary confirm-btn" (click)="hideChildModalBrojilo()">Ne</button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
