<div class="panel panel-primary">
  <div class="panel-heading">{{'public_buildings.cusum.parametersrep' | translate}}</div>
  <div class="panel-body">

    <div class="form-group">
      <ss-multiselect-dropdown *ngIf="isObjekatLoaded && myOptions" [options]="myOptions" [texts]="myTexts" [settings]="mySettings" [(ngModel)]="optionsModel" (ngModelChange)="onChangeObjekat($event)"></ss-multiselect-dropdown>
    </div>
    <div class="form-group">
      <ss-multiselect-dropdown *ngIf="isEneTipLoaded && myOptions" [options]="eneTipData" [texts]="myTextsTipEne" [settings]="mySettingsTipEne" [(ngModel)]="eneTipIzbor" (ngModelChange)="onChangeEneTip($event)"></ss-multiselect-dropdown>
    </div>

    <day-month-year-picker></day-month-year-picker>

    <div class="col-md-2">
        <button type="button" class="btn btn-primary" (click)="onSubmit()">Formiraj izveštaj</button>
    </div>
    <div class="col-md-8">
    </div>
    <div class="col-md-1">
      <button type="button" class="btn btn-primary" (click)="convert()">PDF</button>
    </div>
    <div class="col-md-1">
      <button type="button" class="btn btn-primary" (click)="htmlTableToExcel('testTable')" value="Export to Excel">Excel</button>
    </div>

  </div>
  <br>
  <br>
  <br>
  <br>

  <div class="panel-body">
    <table id="testTable" class="table table-bordered">
      <thead>
      <tr>
        <th class="align-center">Energent</th>
        <th class="align-center">Godina</th>
        <th class="align-center">Mesec</th>
        <th class="align-center">Količina</th>
        <th class="align-center">Količina u Kwh</th>
        <th class="align-center">Emisija CO2</th>
        <th class="align-center">Iznos</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of podaci">
        <td class="align-center">{{ item.energent }}</td>
        <td class="align-center">{{ item.godina }}</td>
        <td class="align-center">{{ item.mesec }}</td>
        <td class="align-right">{{ item.kolicina }}</td>
        <td class="align-right">{{ item.kolicinaKwh }}</td>
        <td class="align-right">{{ item.emisijaCo2 }}</td>
        <td class="align-right">{{ item.iznos }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>



