<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label>Vrste brojila</label>
      <select *ngIf="isVrsteLoaded" [(ngModel)]="vrstaID" (ngModelChange)="onVrstaSelected($event)">
        <option *ngFor="let item of vrsteBrojila; let i = index" [ngValue]="item.id">{{item.naziv}}</option>
      </select>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Godina</label>
      <select  [(ngModel)]="godina" (ngModelChange)="onGodinaSelected($event)">
        <option *ngFor="let item of godine" [ngValue]="item">{{item}}</option>
      </select>
    </div>
    <button class="btn btn-primary confirm-btn" (click)="dodajGodine()">Dodaj 5 godina u meni</button>
    <br><br>
    <div class="form-group">
      <label>Mesec</label>
      <select  [(ngModel)]="mesec" (ngModelChange)="onMesecSelected($event)">
        <option *ngFor="let item of meseci; let i = index" [ngValue]="i">{{item}}</option>
      </select>
    </div>
  </div>
</div>


<div class="container">
  <form *ngIf="izbor" [formGroup]="myForm" #f="ngForm" >
    <div formArrayName="hobbies">
      <h3>Racuni</h3>
      <div class="form-group"
           *ngFor="let stavka of stavke; let i = index">
        <label>{{stavka.opis}}</label>
        <input type="text"
               class="form-control" formControlName="{{i}}">
      </div>
    </div>
    <div class="container-fluid">
      <button *ngIf="izbor" type="button" class="btn btn-primary" (click)="onSubmit(f.value)">Sačuvaj</button>
      <button *ngIf="izbor" type="button" class="btn btn-primary" (click)="onCancel();">Odustani</button>
    </div>
  </form>
</div>


<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Brisanje jedinice mere</h4>
      </div>
      <div class="modal-body">
        Da li ste sigurni da želite da obrišete jedinicu mere?
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary confirm-btn" (click)="onDeleteConfirm()">Da</button>
        <button class="btn btn-primary confirm-btn" (click)="hideChildModal()">Ne</button>
      </div>
    </div>
  </div>
</div>
