<div class="panel panel-primary">
  <div class="panel-heading">{{'public_buildings.cusum.parametersrep' | translate}}</div>
  <div class="panel-body">




    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
            <div class="col-xs-4">
              <div class="form-group">
                <ss-multiselect-dropdown *ngIf="isObjekatLoaded && myOptions" [options]="myOptions" [texts]="myTexts" [settings]="mySettings" [(ngModel)]="optionsModel" (ngModelChange)="onChangeObjekat($event)"></ss-multiselect-dropdown>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="form-group">
                <ss-multiselect-dropdown *ngIf="isEneTipLoaded && myOptions" [options]="eneTipData" [texts]="myTextsTipEne" [settings]="mySettingsTipEne" [(ngModel)]="eneTipIzbor" (ngModelChange)="onChangeEneTip($event)"></ss-multiselect-dropdown>
              </div>
            </div>
            <div class="col-xs-4">
              <select class="form-control"  [(ngModel)]="indikator">
                <option  value="pov" >Korisna površina</option>
                <option  value="zap" >Korisna zapremina</option>
                <option  value="kor" >Broj korisnika</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <two-year-picker></two-year-picker>

    {{indikator}}

    <br>
    <br>
    <div class="col-md-1">
      <button type="button" class="btn btn-primary" (click)="onSubmit()">Formiraj izveštaj</button>
    </div>
    <div class="col-md-9">
    </div>
    <div class="col-md-1">
      <button type="button" class="btn btn-primary" (click)="convert()">Izvoz PDF</button>
    </div>

  </div>


  <div class="panel-body">
    <table id="testTable" class="table table-bordered">
      <thead>
      <tr>
        <th class="align-center">Energent</th>
        <th class="align-center">Godina</th>
        <th class="align-center">Količina (jed.mere/{{labela}})</th>
        <th class="align-center">Količina (kWh/{{labela}})</th>
        <th class="align-center">Emisija CO2 (kgCO2/{{labela}})</th>
        <th class="align-center">Iznos (din./{{labela}})</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of podaci">
        <td class="align-center">{{ item.energent }}</td>
        <td class="align-center">{{ item.godina }}</td>
        <td class="align-right">{{ item.kolicina }}</td>
        <td class="align-right">{{ item.kolicinaKwh }}</td>
        <td class="align-right">{{ item.emisijaCo2 }}</td>
        <td class="align-right">{{ item.iznos }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<button type="button" class="btn btn-primary" (click)="htmlTableToExcel('testTable')" value="Export to Excel">Formiraj excel</button>
<a (click)="htmlTableToExcel('testTable')">Open in Excel</a>
