<div class="container">
  <div *ngIf="!izbor" class="row" >
    <ba-card title="Opštine" baCardClass="with-scroll">
      <ng2-smart-table [settings]="settings" [source]="source" (delete)="onDelete($event)" (edit)="onEdit($event)" (create)="onCreate()"></ng2-smart-table>
    </ba-card>
  </div>
</div>


<div class="container">
  <form *ngIf="izbor" [formGroup]="myForm" #f="ngForm" >
    <div class="form-group">
      <input hidden type="number" class="form-control" id="id" [(ngModel)]="opstina.id" name="id" #id formControlName="id">
    </div>
    <div class="form-group">
      <label for="naziv">naziv</label>
      <input type="text" class="form-control" id="naziv"  required [(ngModel)]="opstina.naziv" name="naziv" #naziv formControlName="naziv">
    </div>
    <div class="container-fluid">
      <button *ngIf="izbor" type="button" class="btn btn-primary" (click)="onSubmit(f.value)">Sačuvaj</button>
      <button *ngIf="izbor" type="button" class="btn btn-primary" (click)="onCancel();">Odustani</button>
    </div>
  </form>
</div>


<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Brisanje opštine</h4>
      </div>
      <div class="modal-body">
        Da li ste sigurni da zelite da obrisete opštinu?
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary confirm-btn" (click)="onDeleteConfirm()">Da</button>
        <button class="btn btn-primary confirm-btn" (click)="hideChildModal()">Ne</button>
      </div>
    </div>
  </div>
</div>
