<div class="container">
  <p>Ovde treba da bude smart tabela sa svim distributerima i kada se izabere jedan da se prikazu ovi tabovi sa odgovarajucim informacijama</p>
  <tabset [justified]="true">
    <tab heading="Opsti podaci o distributeru toplotne energije">


      <ba-card title="Podaci o distributeru toplotne energije" baCardClass="with-scroll">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="naziv">Naziv</label>
              <input type="text" class="form-control" id="naziv"  >
            </div>
            <div class="form-group">
              <label for="adresa">Adresa</label>
              <input type="text" class="form-control" id="adresa"  >
            </div>

            <div class="form-group">
              <label>Mesto</label>
              <input type="text" class="form-control" id="mesto"  >
            </div>

          </div>
          <div class="col-sm-6">

            <div class="form-group">
              <label for="lon">Longitude</label>
              <input type="text" class="form-control" id="lon"  >
            </div>
            <div class="form-group">
              <label for="lat">Latitude</label>
              <input type="text" class="form-control" id="lat"  >
            </div>
          </div>
        </div>
      </ba-card>
    </tab>
    <tab heading="Kotlarnice">
      <ba-card title="Pripadajuće kotlarnice" baCardClass="with-scroll">
        <p>Ovde omoguciti CRUD za kotlarnice koje pripadaju distributeru</p>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="naziv">Naziv</label>
              <input type="text" class="form-control" id="naziv"  >
            </div>
            <div class="form-group">
              <label for="adresa">Adresa</label>
              <input type="text" class="form-control" id="adresa"  >
            </div>

            <div class="form-group">
              <label>Mesto</label>
              <input type="text" class="form-control" id="mesto"  >
            </div>

          </div>
        </div>
      </ba-card>
    </tab>
  </tabset>
</div>
