<div class="panel panel-primary">

  <div class="panel-body">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
            <h4>{{'public_buildings.cusum.parametersrep' | translate}}</h4>
          </div>
          <div class="card-block">

            <selection-tool-nac-fin (onIzvrsiSelectionTool)="upisiObjekte($event)"></selection-tool-nac-fin>

            <div class="row">
              <div class="card">
                <div class="card-block">
                  <div class="col-md-8">
                    <div class="form-group">
                      <ss-multiselect-dropdown *ngIf="isEneTipLoaded" [options]="eneTipData" [texts]="myTextsTipEne"
                                               [settings]="mySettingsTipEne" [(ngModel)]="eneTipIzbor"
                                               (ngModelChange)="onChangeEneTip($event)"></ss-multiselect-dropdown>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <select class="form-control"  [(ngModel)]="indikator">
                      <option  value="pov" >{{'reports.surface' | translate}}</option>
                      <option  value="zap" >{{'reports.volume' | translate}}</option>
                      <option  value="kor" >{{'reports.users' | translate}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <month-year-picker></month-year-picker>

            <div class="row">
              <div class="col-md-2">
                <button type="button" class="btn btn-primary" (click)="formirajIzvestaj()">{{'reports.creating_reports' | translate}}</button>
              </div>
              <div class="col-md-8">
              </div>
              <div class="col-md-1">
                <button type="button" class="btn btn-primary" (click)="convert()">PDF</button>
              </div>
              <div class="col-md-1">
                <button type="button" class="btn btn-primary" (click)="htmlTableToExcel('testTable')" value="Export to Excel">Excel</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="panel-body">
    <table id="testTable" class="table table-bordered">
      <thead>
      <tr>
        <th class="align-center">{{'reports.group' | translate}}</th>
        <th class="align-center">{{'reports.building' | translate}}</th>
        <th class="align-center">{{'reports.quantity' | translate}} (kWh/{{labela}})</th>
        <th class="align-center">{{'reports.emission' | translate}} (kgCO2/{{labela}})</th>
        <th class="align-center">{{'reports.costs' | translate}} (din./{{labela}})</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of podaci">
        <td class="align-center">{{ item.grupa  }}</td>
        <td class="align-center">{{ item.objekat }}</td>
        <td class="align-right">{{ item.kolicinaKwh}}</td>
        <td class="align-right">{{ item.emisijaCo2}}</td>
        <td class="align-right">{{ item.iznos}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


