


<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
            <div class="form-group">
              <label>Opština</label>
              <ng2-completer *ngIf="isOpstineLoaded" class="form-control" id="opstina"
                             (selected)="onOpstinaSelected($event)" [(ngModel)]="selectedOpstina"
                             [dataService]="dataServiceOpstine" [minSearchLength]="0"></ng2-completer>
            </div>
            <div class="form-group">
              <label>Godina</label>
              <select class="form-control"  [(ngModel)]="god">
                <option  *ngFor="let y of years"  [value]="y">{{y}}</option>
              </select>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-primary" (click)="getData()">Preuzmi podatke</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div *ngIf="stepenDaniPrikaz.length > 0" class="row">
  <form [formGroup]="stepenDanForma">

    <div formArrayName="stepenDani">
      <table class="table table-hover">
        <tr>
          <th style="text-align:center">Mesec</th>
          <th style="text-align:center">Stepen dan</th>
        </tr>
        <tbody>
        <tr [formGroupName]="i" *ngFor="let item of stepenDanForma.controls.stepenDani.controls; let i = index">
          <td>{{item.controls.mesec.value}}</td>
          <td><input type="text" style="text-align:right" class="form-control" pattern="[0-9]*\.?[0-9]+" formControlName="sdIznos"/></td>
        </tr>
        </tbody>
      </table>
    </div>
  </form>
  <br><br>

  <div class="container-fluid">
    <button type="button"  class="btn btn-primary" (click)="snimiStepenDane()">Sačuvaj</button>
    <button type="button" class="btn btn-primary" (click)="odustani()">Odustani</button>
  </div>
</div>
