
<div class="panel panel-primary">

  <selection-tool-nac-fin (onIzvrsiSelectionTool)="onSubmit($event)"></selection-tool-nac-fin>
  <br>

  <div class="form-group">
    <ss-multiselect-dropdown *ngIf="isEneTipLoaded" [options]="eneTipData" [texts]="myTextsTipEne" [settings]="mySettingsTipEne" [(ngModel)]="eneTipIzbor" (ngModelChange)="onChangeEneTip($event)"></ss-multiselect-dropdown>
  </div>

  <month-year-picker></month-year-picker>

  <div class="panel-body" *ngIf="isPodaciLoaded" style="color: #000000; background-color: #ffffff">
    <table id="testTable" class="table table-bordered">
      <thead>
      <tr>
        <th class="align-center">Grupa</th>
        <th class="align-center">Energent</th>
        <th class="align-center">Objekat</th>
        <th class="align-center">Količina</th>
        <th class="align-center">Količina u Kwh</th>
        <th class="align-center">Emisija CO2</th>
        <th class="align-center">Iznos</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of podaci">
        <td class="align-center">{{ item.grupa }}</td>
        <td class="align-center">{{ item.energent }}</td>
        <td class="align-center">{{ item.objekat }}</td>
        <td class="align-right">{{ item.kolicina }}</td>
        <td class="align-right">{{ item.kolicinaKwh }}</td>
        <td class="align-right">{{ item.emisijaCo2 }}</td>
        <td class="align-right">{{ item.iznos }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>



